<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

  </head>
  <body>
    <h1>Realtime communication with WebRTC</h1>
    <div id="videos">
      <video id="localVideo" style="float: left" autoplay muted></video>
      <video id="remoteVideo" style="float: right" autoplay></video>
    </div>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
