<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <style>

      #remoteVideo {
        width: 100%;
      }
      #localVideo{
        position: fixed;
        max-width: 200px;
      }
    </style>
  </head>
  <body>
    <div id="videos">
      <video id="localVideo" autoplay muted controls="true"></video>
      <video id="remoteVideo" autoplay controls="true"></video>
    </div>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
